header {
    font-family: "Roboto", "Arial", "sans-serif";
}

body {
    line-height: 1.4em;
}

header
{
    text-align: center;
    padding: 24px;
    margin-bottom: 36px
}

.background {
    background-image: url(./images/purty_wood.png)
}

h1 {
    color:midnightblue;
    font-family: 'Helvetica', Courier, monospace;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: #0090C0;
    font-family: 'indie flower';
    text-decoration: underline; 
    text-align: center
}

table {
    color: orangered;
}

section {
    background-color: antiquewhite;
    margin: 36px;
    padding: 24px;
    border: 2px solid rebeccapurple;
}

div {
    text-align: center;
}

div img {
    border-radius: 80px;
}

img {
    border-radius: 10px;
    border: 2px solid midnightblue;    
}

h2 img {
    border-radius: 50%;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#footer {
    color: mediumblue;
}



